# String Processing and Formatting
#### Introduction to Programming with Python

## Review: Useful string methods we've used

* `rstrip()` - strip out newlines/whitespace at the end of a string
* `split()` - split a string into a list of strings based on a delimeter
* `index()` - find a substring inside a string
* `count()` - count the number of times a substring appears in a string

## Other string methods to know about
It's always good to be aware of a whole bunch of string methods - they can come in very handy.

See https://www.w3schools.com/python/python_ref_string.asp

Here's a sample:

In [1]:
name = "Eric"
#check if all the characters are lowercase
print( name.islower() )

False

In [2]:
lowercase_name = name.lower()
print( lowercase_name )

eric

In [3]:
name1 = "eric"
name2 = "Titus"
print( name1.lower() < name2.lower() )

True

In [4]:
name1 = "eric"
print( name1.capitalize() )

Eric

### Here's a potential problem with user input:

In [5]:
user_input = float(input("Enter a number: "))
print("Your number divided by 2 is",user_input/2)

Enter a number: ten

ValueError: could not convert string to float: 'ten'

Here's a fix

In [6]:
user_input = input("Enter a number: ")
if user_input.isnumeric():
    user_input = float(user_input)
    print("Your number divided by 2 is",user_input/2)
else:
    print("That's not a number!")

Enter a number: ten
That's not a number!

## Some formatting annoyances

Perhaps you have tried to do something like this, and you end up with a space between the $ and the number that you don't want.

In [7]:
employee_num = 123
pay = 980.543
print("Employee",employee_num,"made $",pay,"this period.")

Employee 123 made $ 980.543 this period.

## `f` strings

An `f` string is a special kind of string that you put an `f` in front of to indicate you're going to be doing some special formatting right inside the string. 

Here's an example where we insert the variables in an `f` string using placeholders inside of `{ }` - notice the `f"..."`

In [10]:
employee_num = 123
pay = 980.543
pay_message = f"Employee {employee_num} made ${pay} this pay period."
print( pay_message )

Employee 123 made $980.543 this pay period.

You can even add formatting information to the placeholders for things like how to format numbers.

In this example `":.2f"` means format as a floating-point number with 2 places to the right of the decimal point.

In [12]:
employee_num = 123
pay = 980.543
print( f"Employee {employee_num} made ${pay:.2f} this pay period." )

Employee 123 made $980.54 this pay period.

`":.0%"` means format as a percentage with 0 decimal places

In [13]:
name = "Eric"
perc_grade = 0.897
print(f"{name} earned a {perc_grade:.0%} on the test")

Eric earned a 90% on the test

### How can you know how to use all of these things?

You just have to know it's a thing, and look it up when you need to use it.

https://docs.python.org/3/tutorial/inputoutput.html

https://www.w3schools.com/python/python_string_formatting.asp

## Review: Character representation

Every text character is represented by a numerical code in your computer's memory. 

They came up with in the 1960's as part of the ASCII standard (https://en.wikipedia.org/wiki/ASCII)

Here's some examples

<table>
<tr>
    <td style="padding:30px">
        <table>
            <tr><th> code </th> <th>character </tr>
            <tr><td>33 </td><td> !</td></tr>
            <tr><td>34 </td><td> "</td></tr>
            <tr><td>35 </td><td> #</td></tr>
            <tr><td>36 </td><td> $</td></tr>
            <tr><td>37 </td><td> % </td></tr>      
        </table>      
    </td>
    <td style="padding:30px">
        <table>
            <tr><th> code </th> <th>character </tr>
            <tr><td>65 </td><td> A</td></tr>
            <tr><td>66 </td><td> B</td></tr>
            <tr><td>67 </td><td> C</td></tr>
            <tr><td>68 </td><td> D</td></tr>
            <tr><td>69 </td><td> E </td></tr>      
        </table>
    </td>
    <td style="padding:30px">
        <table>
            <tr><th> code </th> <th>character </tr>
            <tr><td>97 </td><td> a</td></tr>
            <tr><td>98 </td><td> b</td></tr>
            <tr><td>99 </td><td> c</td></tr>
            <tr><td>100 </td><td> d</td></tr>
            <tr><td>101 </td><td> e </td></tr>      
        </table>     
    </td
</tr>
</table>
    
You can use the built-in `ord()` function to look up the code for any given character. Use `chr()` to do the opposite.

In [14]:
ord("A")

65

In [15]:
chr(65)

'A'

In the lab, we are going to use the functions to do some encryption on strings.