# Tuples
#### Introduction to Programming with Python

## Tuple

It's an ordered collection like a list, but it uses parentheses ( ) instead of square brackets [ ]

In [1]:
my_tuple = ("Eric",100,3.14)
print(my_tuple[0])

Eric

Except, tuples are _immutable_.
* You can't change an item in a tuple
* There are no methods like `append()`, `insert()`, `pop()`, or `remove()`

In [2]:
my_tuple[1] = 200

TypeError: 'tuple' object does not support item assignment

## Purpose and benefits of tuples

Tuples are typically used when you have a grouping of related data that doesn't need to change; whereas, lists are typically used when you have a collection of a bunch of the same thing.

Tuples are also 
* Faster than lists
* Safer for things that shouldn't be changed
* Expected for working some modules and libraries (including working with images!)

In [3]:
student_info = ("Stu Dent",100123456,"Computer Science")

student_list = [("Stu Dent",100123456,"Computer Science"), ("Elena Schmidt",100123457,"Math"), 
                ("Krystal Harmon",100123458,"Computer Science"), ("Marcos Hopkins",100123459,"Biology"), 
                ("Terry Richardson",100123460,"Political Science")]

Tuples can also be used to return more than one thing from a function. We previously wrote code to count the number of national parks in a state and calculate their area. Functions can only return one thing, so what if we want to return the both? One option is to make a tuple of the two things we wish to return like

`(num_parks_in_state, size_parks_in_state)`

and then return that.

In [8]:
import csv

def parks_num_size(state):
    
    with open("nationalparks.csv") as npfile:
        parks_2d_list = list(csv.reader(npfile))
    
    num_parks_in_state = 0
    size_parks_in_state = 0
    
    for park in parks_2d_list:
        
        if park[1] == state:
            num_parks_in_state += 1
            size_parks_in_state += float(park[3])
    
    return (num_parks_in_state, size_parks_in_state)

result = parks_num_size("California")
print(result)

(8, 2944702.3)

Notice that the `result` that is printed is a tuple with two items. We could use list notation to access the individual components like this

In [9]:
print("Total number of parks:",result[0])
print("Total acres:",result[1])

Total number of parks: 8
Total acres: 2944702.3

You can even unpack the values of the returned tuple into their own variables like this

In [10]:
(num_parks, park_size) = parks_num_size("California")
print("Total number of parks:",num_parks)
print("Total acres:",park_size)

Total number of parks: 8
Total acres: 2944702.3

You will also sometimes see this done without the `( )` around the tuple, which can be confusing if you're not familiar with it, but it works the same as the above.

In [11]:
num_parks, park_size = parks_num_size("California")
print("Total number of parks:",num_parks)
print("Total acres:",park_size)

Total number of parks: 8
Total acres: 2944702.3

## Single-item tuples

You can have tuples with one thing in them, but you need to include a comma to tell Python it's a tuple and not just a parenthesized value. 

When you put a single value inside parentheses, Python interprets it as an expression and evaluates it. So `(100)` will just be evaluated to `100`, its type will be an integer.

In [12]:
my_val = (100) 
print(my_val, type(my_val) )

100 <class 'int'>

But if we put an extra comma in, like `(100,)`, it will treat it as a tuple with one item in it.

In [13]:
my_monuple = (100,)
print(my_monuple, type(my_monuple))

(100,) <class 'tuple'>

## Mixing Data Structures

It is common in Python to mix data structures like lists and tuples. For example, it might be useful to collect a bunch of student records into a list of tuples like

In [14]:
student_list = [("Stu Dent",100123456,"Computer Science"), ("Elena Schmidt",100123457,"Math"), 
                ("Krystal Harmon",100123458,"Computer Science"), ("Marcos Hopkins",100123459,"Biology"), 
                ("Terry Richardson",100123460,"Political Science")]

This works similarly to a 2-dimensional list. Let's practice with this. Here's an example of how we could loop through this list with a for loop and print out each of the records:

In [15]:
student_list = [("Stu Dent",100123456,"Computer Science"), ("Elena Schmidt",100123457,"Math"), 
                ("Krystal Harmon",100123458,"Computer Science"), ("Marcos Hopkins",100123459,"Biology"), 
                ("Terry Richardson",100123460,"Political Science")]  

for record in student_list:
    print(record)

('Stu Dent', 100123456, 'Computer Science')
('Elena Schmidt', 100123457, 'Math')
('Krystal Harmon', 100123458, 'Computer Science')
('Marcos Hopkins', 100123459, 'Biology')
('Terry Richardson', 100123460, 'Political Science')

**Exercise:** Edit the for loop above to instead print the *names* of all *Computer Science* students.